* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: #57abf2;
	background: linear-gradient(-45deg, #19d3d1 5%, #57abf2);
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

img {
	max-width: 100%;
}

.recipe-card {
	background: #fff;
	margin: 30px;
    display: inline-block;
	width: 300px;
	max-width: 496px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.recipe-card aside {
	position: relative;
}

.recipe-card aside img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.recipe-card aside .button {
	background: #57abf2;
	display: inline-block;
	position: absolute;
	top: 80%;
	right: 3%;
	width: 4.0625em; /* em(65) -> 65px/16 = 4.0625em */
	height: 4.0625em; /* em(65) */
	border-radius: 4.0625em; /* em(65) */
	line-height: 4.0625em; /* em(65) */
	text-align: center;
}

.recipe-card aside .button .icon {
	vertical-align: middle;
}

.recipe-card article {
	padding: 1.25em 1.5em;
}

.recipe-card article ul {
	list-style: none;
	margin: 0.5em 0 0;
	padding: 0;
}

.recipe-card article ul li {
	display: inline-block;
	margin-left: 1em;
	line-height: 1em;
}

.recipe-card article ul li:first-child {
	margin-left: 0;
}

.recipe-card article ul li .icon {
	vertical-align: bottom;
}

.recipe-card article ul li span:nth-of-type(2) {
	margin-left: 0.5em;
	font-size: 0.8em;
	font-weight: 300;
	vertical-align: middle;
	color: #838689;
}

.recipe-card article h2, .recipe-card article h3 {
	margin: 0;
	font-weight: 300;
}

.recipe-card article h2 {
	font-size: 1.75em; /* em(28) */
	color: #222222;
}

.recipe-card article h3 {
	font-size: 0.9375em; /* em(15) */
	color: #838689;
}

.recipe-card article p {
	margin: 1.25em 0;
	font-size: 0.8125em; /* em(13) */
	font-weight: 400;
	color: #222222;
}

.recipe-card article p span {
	font-weight: 700;
	color: #000000;
}

.recipe-card article .ingredients {
	margin: 2em 0 0.5em;
}

.icon {
	display: inline;
	display: inline-block;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
	background-repeat: no-repeat;
}

.icon-calories,.icon-calories\:regular {
	background-position: 0 0;
	width: 16px;
	height: 19px;
}

.icon-clock,.icon-clock\:regular {
	background-position: 0 -19px;
	width: 20px;
	height: 20px;
}

.icon-level,.icon-level\:regular {
	background-position: 0 -39px;
	width: 16px;
	height: 19px;
}

.icon-play,.icon-play\:regular {
	background-position: 0 -58px;
	width: 21px;
	height: 26px;
}

.icon-users,.icon-users\:regular {
	background-position: 0 -84px;
	width: 18px;
	height: 18px;
}